body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}
/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    color: white;;
    padding: 15px 30px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/* Main Content */
.container {
    padding: 30px;
    text-align: center;
}
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}
/*  Media Query for Mobile Screen   */
@media (max-width: 768px) {
    /*Change background color */
    body {
        background-color: lightcoral;
    }
    /*Adjust font size */
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }

    /*Convert navigation to vertical layout */
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        text-align: center;
    }
}
