/* Global Fix */
* {
    box-sizing: border-box;
}
/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}
/* Header Styling */
.header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

.tagline {
    font-size: 16px;
    margin-top: 5px;
}
/* Requirement 2 & 3: Section Styling */
.content-section {
    background-color: rgb(176, 166, 166);
    border: 3px solid #3498db;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}


/* Text Styling */
.section-heading {
    color: #2c3e50;
}
p {
    font-size: 16px;
    line-height: 1.5;

}
/* ID Selector */
#highlight-text {
    color: #4d3ce7;
    font-weight: bold;
}
.for-div {
    background-color: #dff9fb;
    border: 3px solid #0984e3;
    margin: 30px auto;
    padding: 30px;
    width: 60%;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;

}


/* Requirement 5: Form Styling */
.form-style {
    background-color: white;
    border: 3px solid #27ae60;
    margin: 30px auto;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}
/* Form Heading */
.form-heading {
    text-align: center;
    color: #2c3e50;
}


/* Labels */
.form-style label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}


/* Inputs */
.form-style input,
.form-style select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Gender Alignment */
.gender-group {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}
.gender-group input {
    width: auto;
}
/* Button */
.form-style button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
/* Hover */
.form-style button:hover {
    background-color: #27ae60;
}
